@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&family=Roboto:wght@300;400;500&family=Rubik+Wet+Paint&display=swap");
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #a7bbbb;
  color: blue;
  /*Pseudoclases*/ }
  body h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #220441; }
  body .navbar {
    position: fixed;
    top: 0;
    width: 100%; }
  body #botonera {
    background-color: #bcf3f3; }
  body .btn-shop {
    background-color: #30a1a1; }
  body .bg-aqua {
    background-color: #61e6e6; }
  body .col-md-8 h1:first-child {
    background-color: black;
    color: #49340c; }

footer {
  text-align: center;
  background-color: aqua; }

.buton-especial {
  background-color: red; }

.main-description {
  color: black;
  font-size: 1rem;
  padding: 1rem; }
